* {user-select: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
  --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
  --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
  --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
  --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
  --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
  --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
  --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
  --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
  --fds-blue-05: #ecf3ff;
  --fds-blue-30: #aac9ff;
  --fds-blue-40: #77a7ff;
  --fds-blue-60: #1877f2;
  --fds-blue-70: #2851a3;
  --fds-blue-80: #1d3c78;
  --fds-button-text: #444950;
  --fds-comment-background: #f2f3f5;
  --fds-gray-00: #f5f6f7;
  --fds-gray-05: #f2f3f5;
  --fds-gray-10: #ebedf0;
  --fds-gray-20: #dadde1;
  --fds-gray-25: #ccd0d5;
  --fds-gray-30: #bec3c9;
  --fds-gray-45: #8d949e;
  --fds-gray-70: #606770;
  --fds-gray-80: #444950;
  --fds-gray-90: #303338;
  --fds-gray-100: #1c1e21;
  --fds-green-55: #00a400;
  --fds-highlight-cell-background: #ecf3ff;
  --fds-primary-icon: #1c1e21;
  --fds-primary-text: #1c1e21;
  --fds-red-55: #fa383e;
  --fds-soft: cubic-bezier(0.08, 0.52, 0.52, 1);
  --fds-spectrum-aluminum-tint-70: #e4f0f6;
  --fds-spectrum-blue-gray-tint-70: #cfd1d5;
  --fds-spectrum-cherry: #f35369;
  --fds-spectrum-lime: #a3ce71;
  --fds-spectrum-seafoam-tint-70: #caeef9;
  --fds-spectrum-slate-dark-2: #89a1ac;
  --fds-spectrum-slate-tint-70: #eaeff2;
  --fds-spectrum-teal: #6bcebb;
  --fds-spectrum-teal-dark-1: #4dbba6;
  --fds-spectrum-teal-dark-2: #31a38d;
  --fds-spectrum-teal-tint-70: #d2f0ea;
  --fds-spectrum-teal-tint-90: #f0faf8;
  --fds-spectrum-tomato: #fb724b;
  --fds-spectrum-tomato-tint-30: #f38e7b;
  --fds-spectrum-tomato-tint-90: #fdefed;
  --always-white: #ffffff;
  --always-black: black;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #f33155;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #7ace4c;
  --bs-teal: #20c997;
  --bs-cyan: #4fc3f7;
  --bs-white: #fff;
  --bs-gray: #8898aa;
  --bs-gray-dark: #313131;
  --bs-primary: #707cd2;
  --bs-secondary: #8898aa;
  --bs-success: #7ace4c;
  --bs-info: #2cabe3;
  --bs-warning: #ffc36d;
  --bs-danger: #f33155;
  --bs-light: #f7fafc;
  --bs-dark: #313131;
  --bs-cyan: #4fc3f7;
  --bs-orange: #ffc36d;
  --bs-purple: #707cd2;
  --bs-inverse: #4c5667;
}
.fa-door-open{
  color:var(--bs-teal);
  display: none;
}
.logout {
  background-color: var(--bs-teal);
  padding: 1rem;
  border-radius: 10px;
  color: white;
}
header {
  position: relative;
  display: grid;
  grid-template-columns: auto 5%;
  top: 1rem;
  margin-left: 10px;
}



.openbtn:hover {
  background-color: rgb(24, 206, 167);
}
.dropbtn2,
.dropbtn3,
.dropbtn4 {
  color: black;
  display: block;
  justify-content: center;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: transparent;
  margin: auto;
}

.dropbtn2:hover {
  background-color: rgb(24, 206, 167);
}
.dropdown1 .fa-user {
  display: block;
  padding-right: 5px;
  color: rgb(24, 206, 167);
}
.dropbtn1 {
  font-weight: bold;
  color: black;
}


.dropdown-content2,
.dropdown-content3,
.dropdown-content4 {
  user-select: none;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  min-width: 300px;
  max-width: 300px;
  z-index: 1;
  padding: 1rem;
  background-color: white;
  color: black;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 100%;
}



.dropdown-content1 a,
.dropdown-content2 a,
.dropdown-content3 a {
  color: black;
  
  text-decoration: none;
}

.dropdown-content1 a:hover,
.dropdown-content2 a:hover,
.dropdown-content3 a:hover,
.dropdown-content4 a:hover {
  background-color: rgb(24, 206, 167);
  border-radius: 6px;
}

.show {
  
  visibility: visible;
}
/*!--------------------!*/
/* Alkalmazott menu vége*/

body {
  margin-top: 2rem;

  display: grid;
  background-color: var(--fds-gray-05);
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.39);
  padding: 2rem;
}
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
.managerinfo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  text-align: center;
  margin: auto;
  background-color: var(--always-white);
  width: 100%;
  border-bottom: 1px solid var(--fds-spectrum-teal);
  padding-top: 1rem;
}
.managerinfo h4 {
  padding: 0;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-family: "Mochiy Pop P One", sans-serif;
  letter-spacing: 1rem;
  margin: auto;
  width: 500px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
.navbar span {
  color: black;
  font-weight: 500;
  line-height: 1.34;
  padding: 1rem;
  margin: auto;

}
.admin {
  padding: 1rem;
}

.fa-user,
.fa-moon,
.fa-user-lock {
  color: var(--fds-green-55);
}
nav {
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 50px;
  width: calc(100%-1px);
  display: grid;
  align-self: center;
  justify-self: center;
  margin: auto;
  margin-bottom: 1rem;
  background-color: var(--always-white);
}
.navbar {
  display: flex;
  
}

header nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-self: center;
  padding-bottom: 0.5rem;
  color: var(--fds-primary-text);
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.openbtn {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  color: black;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  width: fit-content;
}
.sidenav {
  user-select: none;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  display: grid;
  grid-template-rows: repeat(7,auto);
  visibility: hidden;
  top: 4.5rem;
  height: 700px;
  width: 0;
  position: absolute;
  right: 11px;
  transform: translateY(-10px);
  z-index: 1;
  overflow-x: hidden;
  transition: .7s ease-in-out;
  color: black;
  font-size: 1.1rem;
  border-radius: 6px;
  border: none;
  background-color: var(--always-white);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}

.sidenav a,.sidenav div {

  
  text-align: center;
  padding: 12px ;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-self: center;

  
}

.sidenav a:hover {
  background-color: rgb(24, 206, 167);
  border-radius: 6px;
}

.sidenav .closebtn {
  font-size: 36px;
  display: flex;
  justify-content: flex-end;
  color: var(--bs-blue);
  margin-right: 1rem;
  margin-top: 1rem;
}
.closebtn:hover{
  background: transparent!important;
}
#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/*!-----------!*/
/* Mindenki menu vége */

/* Tartalom */

article {
  
  user-select: none;
  border-radius: 16px;
  padding: 1rem;
  background: rgba(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
}



.container article .info div {
  text-align: justify;
}

/* Footer */
.label {
  background: var(--fds-highlight-cell-background);
  left:50px;
  font-weight: 500;
  position: fixed;
  transform: translateY(60%);
  color: var(--fds-spectrum-teal-dark-2);
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  text-align: center;
}
/*!------------!*/
/* Footer vége */


/*#############MUNKAKÖR###########*/

#Munkakorok{
  width: fit-content;
  margin: auto;
}
.munkakor-container {
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 20px;
  margin-right: 15px;
  width: fit-content;
  margin: auto;
}

.munkakor-content {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: var(--bs-light);

  box-sizing: border-box;
  padding: 1.5rem;
  width: 100%;
  margin: 1rem;
  border: 1px solid rgb(24, 206, 167);
}

.munkakor-content .cimsor {
  display: grid;
  grid-template-columns: 30% 70%;
}
.munkakor-content .cimsor h3 {
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
  position: relative;
  right: 2rem;
  font-size: 1.2rem;
}

.munkakor-content p {
  /*position: relative;*/
  bottom: 30px;
  font-weight: lighter;
  text-align: justify;
  display: block;
}

.munkakor-content .circle {
  border: 1px solid rgb(24, 206, 167);
  background-color: rgb(24, 206, 167);
  color: white;
  border-radius: 50%;
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
}

.munkakor-content .circle h2 {
  position: relative;
  bottom: 10px;
}

#newmunkakor {
  color:var(--fds-button-text);
  font-size: 1.2em;
  text-shadow: 1px 1px   black;
  border-radius: 50%;
  background-image: linear-gradient(
    45deg,
    var(--fds-blue-05),var(--fds-spectrum-aluminum-tint-70),var(--always-white)
  );
  border-radius: 10px;
  border: 1px solid rgba(12, 0, 0, 0.18);
  cursor: pointer;
  padding: 10px;
  user-select: none;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 20px;
  padding-bottom: 10px;
}

#newmunkakor:hover {
  color: white;
  background-color: rgb(24, 206, 167);
}
/*#############MŰSZAKELOSZLÁS MÓDOSÍTÁSA#######*/
.muszaktipusm-container{
  display: grid;
  grid-template-columns: repeat(3,auto);
}

#Muszaktipusm h3{
  padding: 1.5rem;
  font-weight: 450;
}
.muszaktipusm-content{
  
  padding: 1rem;
  margin: .5rem;
  border-radius: 5px;
}

.muszaktipusm-content h3{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

  border-radius: 10px;
  font-weight: 600;
  
  text-align: center;
  margin: auto;
  
  margin-bottom: 1rem;
  background-color:rgba(255, 255, 255, 0.150);
}
.muszaktipusm-content th{
  padding: 1rem;
  font-weight: 450;
  color:var(--always-white);
  font-size: 1rem;
  background-color: var(--bs-teal);
  
}
.muszaktipusm-content td{
  text-align: center;
  padding: 1rem;
  
  background-color: var(--always-white);
  
}
.muszaktipusm-content table{
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color:var(--fds-primary-text);
  margin: auto;
  

  
}
.editmuszakm, .removemuszakm{
  width: 40px;
  height: 40px;
  background: var(--bs-light);
  border: none;
  cursor: pointer;
 
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.removemuszakm{
  color: var(--bs-red);
}

/*#############MŰSZAKTÍPUS HOZZÁADÁS###########*/
#Muszaktipush{
 
  width: 100%!important; 
  
}
.muszaktipush-container {
  display: grid;
  grid-template-columns: auto;
  margin-right: 25px;
  
}

.muszaktipush-content {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
  box-sizing: border-box;
  padding: 1.5rem;
  width: 100%;
  margin: 1rem;
  background-color: rgba(255, 255, 255);
  height: 150px;
  background-image: linear-gradient(
    45deg,
    var(--fds-spectrum-teal-dark-1),
    var(--fds-spectrum-teal-dark-2),
    var(--bs-teal)
  );
  
  
}
.muszaktipush-content h2{
  font-size: 2em;
  font-weight: 450;
  padding-left: 1rem;
  color: var(--bs-light);
}
.muszaktipush-content p {
  text-align: start;
  padding-left: 1rem;
  font-size: 17.5px;
  color: var(--bs-light);
}

#newmuszak {
  color:var(--fds-button-text);
  font-size: 1.2em;
  text-shadow: 1px 1px   black;
  border-radius: 50%;
  background-image: linear-gradient(
    45deg,
    var(--fds-blue-05),var(--fds-spectrum-aluminum-tint-70),var(--always-white)
  );
 
  border-radius: 10px;
  border: 1px solid rgba(12, 0, 0, 0.18);
  cursor: pointer;
  padding: 10px;
  user-select: none;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 20px;
  padding-bottom: 10px;
}

#newmuszak:hover {
  color: white;
  background-color: rgb(24, 206, 167);
}


#removemuszak:hover {
  color: white;
  background-color: rgb(24, 206, 167);
}
.fa-pen{
  color:var(--bs-blue)
}
#removemuszak{
  color:var(--bs-red)!important;
}
#editmuszak, #removemuszak {
  float: right;
  position: relative;
  right: 30px;
  bottom: 100px;
  display: grid;
  align-items: center;
  font-weight: bolder;
  color: black;
  font-size: 20px;
  cursor: pointer;
  
  margin-right: 15px;
  user-select: none;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 20px;
 
  background: var(--bs-light);
  cursor: pointer;

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}


#editmuszak:hover {
  color: white;
  background-color: rgb(24, 206, 167);
}

/*ALKALMAZOTTAK TÁBLÁZAT*/
#Alkalmazottak{
  width: fit-content;
  margin: auto;
}
#Alkalmazottak > .ujAlkalmazott{
  position: fixed;
  color:var(--fds-button-text);
  font-size: 1.2em;
  border-radius: 50%;
  background: var(--always-white);

  border-radius: 10px;
  border: 1px solid rgba(12, 0, 0, 0.18);
  cursor: pointer;
  padding: 10px;
  user-select: none;
  text-align: center;
  line-height: 20px;
  padding-bottom: 10px;
  color: var(--fds-spectrum-teal-dark-2);
  right:125px;
  top:300px;
}

#AlkalmazottakTabla {
  max-width: 100%;
  width: 1200px;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
  font-weight: lighter;
}

#AlkalmazottakTabla tr:nth-child(even) {
  background-color: rgb(24, 206, 167, 0.1);
}

.foTabla {
  background-color: transparent !important;
}

.hoveredTabla {
  background-color: rgb(24, 206, 167, 0.6) !important;
}

#AlkalmazottakTabla tr:nth-child(1) {
  background-color: transparent;
}

#AlkalmazottakTabla th {
  border-collapse: 10px;
  padding: 10px;
}

#AlkalmazottakTabla tr:hover {
  background-color:rgb(24, 206, 167, 0.4);
}


#Alkalmazottak .dropdown-content {
  box-shadow: black;
  position: fixed;
  color: black;
  padding: 5px;
  font-size: 1.1rem;
  background: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  list-style-type: none;
}

#Alkalmazottak .dropdown-content a {
  text-decoration: none;
  color: black;
}

#Alkalmazottak .dropdown-content a:hover {
  color: rgb(24, 206, 167);
}

#Alkalmazottak .dropdown-content li {
  padding: 5px;
}

.tablaDropdown {
  display: none;
}

/*---------------------*/

/*#############MŰSZAKTÍPUS NAPHOZ RENDELÉS###########*/
#Muszaktipusn {
  display: grid;
  width: 100%;
}
.muszaktipush-header {
  display: grid;
  grid-template-columns: auto 50%;
  justify-items: center;
}
.muszaktipusn-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns:  auto auto;
  grid-template-rows: auto auto ;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-right: 25px;
}

#muszaktipusnapok-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(1, auto);
  gap: 1em;
  align-content: center;
}
#muszaktipusnapok-content > * {
  text-align: center;
  margin: 0;
  width: 150px;
}
.muszaktipusn-text {
  text-align: center;
  color: var(--bs-light);
}
.muszaktipusn-text h2 {
  font-size: 2em;
  font-weight: 450;
}
.muszaktipusn-text p {
  text-align: start;
  padding-left: 1rem;
  font-size: 17.5px;
}
.muszaktipusn-content {
  padding: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.39);
  background-image: linear-gradient(
    45deg,
    var(--fds-spectrum-teal-dark-1),
    var(--fds-spectrum-teal-dark-2),
    var(--bs-teal)
  );
  border-radius: 10px;
  box-sizing: border-box;
  width: 90%;
  margin: 1rem;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto;
}

.muszaktipusn-title {
  margin: auto;
  font-family: monospace;
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: 500;
  width: fit-content;
}
.muszaktipusnap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
}
.mtc-inline-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 70% auto;
}
.mtc-inline-grid button {
  height: fit-content;
  width: fit-content;
  background: var(--bs-light);
  padding: 0.8em;
  border: none;
  cursor: pointer;
  
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  
  
}
.mtc-inline-grid .fa-trash {
  color: var(--bs-red);
  margin-right: 5rem;
}
.mtc-inline-grid .fa-plus {
  margin-bottom: 1rem;
  color: var(--bs-blue);
}
.mtc-inline-grid button:hover {
  background: transparent;
}
.aktualisnapok > * {
  display: grid;
  grid-template-columns: auto auto;
  place-self: center;
  text-align: center;
  gap: 1em;
  width: 100%;
  margin: auto;
}
.aktualisnapok p,
h3 {
  width: max-content;
  padding: 1rem;
  margin: auto;
}
.aktualisnapok h3 {
  font-weight: 400;
}
.aktualisnapok {
  display: grid;
  grid-gap: 0.2em;
  grid-template-columns: auto;
  justify-items: center;
  border-radius: 10px;
}

.aktualisnapok .muszaktipusnap {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
  box-sizing: border-box;
  width: 70%;
  margin: 0px;
  height: 50px;
  bottom: 30px;
}

.selectable .ui-selecting {
  background: #feca40;
}
.selectable .ui-selected {
  background: #f39814;
  color: white;
}

.aktualisnapok .muszaktipusnap {
  height: fit-content;
  margin: 0;
  padding: 2px;
  text-align: justify;
  background-color: transparent;
  border: none;
  width: fit-content;
  height: fit-content;
}
#muszaktipusn-subcontainer{
  display: grid;
}

#muszaktipushsave {

  color:var(--fds-button-text);
  font-size: 1.2em;
  text-shadow: 1px 1px   black;
  border-radius: 50%;
  background-image: linear-gradient(
    45deg,
    var(--fds-blue-05),var(--fds-spectrum-aluminum-tint-70),var(--always-white)
  );
 
  border-radius: 10px;
  border: 1px solid rgba(12, 0, 0, 0.18);
  cursor: pointer;
  padding: 10px;
  user-select: none;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 20px;
  padding-bottom: 10px;
}

#muszaktipushsave:hover {

  background: var(--bs-teal);
}
.tabcontent {
  color: black;
  display: grid;
  visibility: hidden;
 


}
@media screen and (max-width:1820px) {
   footer{
    display: none;
   }
   html{
     overflow: scroll;
   }
   
}
@media screen and (max-width:1570px) {
  body{
    position: static;
    display: block;
  }

  

}
@media screen and (max-width:1415px) {
  .openbtn{
    position: fixed;
    right: 0;
    top:100px;
    padding: 1rem;
    background-color: var(--fds-spectrum-teal);
  }
  article{
    margin-top: 2rem;
  }
  header{
    
    display: block;
  }
  .navbar{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    gap: 0;
  };  
  nav a{
    margin: 0;
    padding: 0;
  }
 nav a:focus{
    background-color: var(--fds-green-55);
  }
  .logout{
    background: transparent;
    color:var(--fds-black-alpha-80);
  }
  .fa-door-open{
    color:var(--fds-green-55);
    padding-right: 1em;
    display: inline;
  }
  .managerinfo h4{
    width: fit-content;
    
  }
  .managerinfo{
    display: block;
    position: static;
  }
  .sidenav{
    position: fixed;
    right: 0;
    top:100px;
    padding: 0;
  }
  .tabcontent{
    display: flex;
    justify-content: center;
    margin: auto;
    
   
  }
}
@media screen  and (max-width:450px){

  .managerinfo h4{
      letter-spacing: normal;   
  }
  article{
    
  }
  body{
    overflow-x: scroll;
  }
  #Muszaktipusn{
    display: flex;
    flex-direction: column;
  
  }
  #muszaktipusn-subcontainer{
    display: flex;
    flex-direction: column;
  }
}