*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #f33155;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #7ace4c;
    --bs-teal: #20c997;
    --bs-cyan: #4fc3f7;
    --bs-white: #fff;
    --bs-gray: #8898aa;
    --bs-gray-dark: #313131;
    --bs-primary: #707cd2;
    --bs-secondary: #8898aa;
    --bs-success: #7ace4c;
    --bs-info: #2cabe3;
    --bs-warning: #ffc36d;
    --bs-danger: #f33155;
    --bs-light: #f7fafc;
    --bs-dark: #313131;
    --bs-cyan: #4fc3f7;
    --bs-orange: #ffc36d;
    --bs-purple: #707cd2;
    --bs-inverse: #4c5667;
}

  
html{
    
    max-width: 95%;
    scroll-behavior: smooth;
    margin: auto;
    
    /*background-color: rgb(24, 206, 167);*/
}

body{

 height: 100%;    
 margin: auto;
 background-color: rgba(255, 255, 255, 0.900);
 border-radius: 16px;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.39);
 padding: 2rem;
 width: fit-content;
}
a{
    text-decoration: none;
    color: black;
}
header{
   
   
    text-align: center;
    user-select: none;
    border-radius: 16px;
    color: black;
    font-size: 1.1rem;
    border-radius: 6px;
    border: none;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
    gap: 4rem;
}
.box{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    
}


aside nav{
    display: block;
    user-select: none;
    z-index: 1;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    justify-self: center;
    
}

aside nav h4{
    padding:0;
    margin: 0;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
aside nav .fa-user{
    text-align: center;
}body{

   
}
article{
    margin-top: 1rem;
    margin-bottom: 1rem;
    user-select: none;
    border-radius: 16px;
    padding: 1rem;
    background: rgba(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    overflow: scroll;
    
    
}

.fa-user, .fa-sign-out-alt {
    display: block;
    padding-right: 5px;
    color: rgb(24, 206, 167);
  }
aside nav ul{
   
    display: grid;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    padding: 1rem;
    
}


aside nav ul li{
    list-style-type: none;
    padding: .5rem;
}
aside nav ul li:hover{
    transition: 0.3s;
    text-indent: 20px;
    background-color:var(--bs-teal);
    text-indent: 10px;
}


.label {
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    text-align: center;
  }
  .stat1,.stat2,.stat3,.stat4{
    background-color: white;
  }
  .stat1value,.stat2value,.stat3value,.stat4value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-weight: 500;
    font-size: 20px;
    color:var(--bs-success);
    
  }
  .allusers{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      padding: 1rem;
      font-weight: 500;
      background-color: none;
  }
  .fa-users, .fa-child,.fa-bullhorn,.fa-sign-in-alt{
      color: var(--bs-green);
      font-size: 25px;
      padding: 1rem;
      background-color: none;
  }
.fa-child,.stat2value{
    color:var(--bs-info);
    
}
.fa-bullhorn,.stat3value{
    color:var(--bs-pink);
}
.fa-sign-in-alt,.stat4value{
    color:var(--bs-teal);
}
.darkmode--activated article,.darkmode--activated, .darkmode--activated footer{
    box-shadow: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.155);
}

.darkmode--activated nav ul{
    background-color: black;
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.155);
    border-radius: 16px;
    color: white;
}
.darkmode--activated article{
    background-color: rgb(240, 240, 240);
    color:black;
}
.darkmode--activated header .box{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.155);
    
}

.darkmode--activated nav span{
    color:rgb(8, 138, 110)!important;
}
.darkmode--activated nav ul li:hover{
    color:white;
    text-shadow:0 1px 1px black;
}
.darkmode--activated .logout{
    color:var(--bs-red);
}

table tr:hover{
    background-color: var(--bs-teal);
}
header{
grid-area: header;
}
article{
grid-area: article;

}
aside{
grid-area: aside;
height:550px;
}
body{
    display:grid;
    grid-template-columns: 15% auto;
    grid-template-areas: 
    "header header"
    "aside article";
    gap:2%;
     
}
html{
   
   
}
main{
   
}
header div{
    justify-self: center;
    padding: 10px;
}
article{
    display:block;
    width:100%;
    height:550px;
    overflow:scroll;
    
}

.admininfo{
    text-align: center;
    padding-bottom: 10px;
}
@media screen and (max-width:1600px) {
   
    aside{
        margin-bottom: 0;
        margin-top: 0;
    }
    header{
        display: grid;
        padding: 0;
        margin: 0;
        gap:1rem;
        top:3rem;
        right: 10px;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        margin: 1rem;
        grid-area: h;
 
    }
    header .box{
        padding-bottom: 1rem;
        
       
    }
    article{
        height: 80vh ;
        grid-area: a;
      
    }
  
    
}
@media screen and (max-width:1080px) {
    .grid{
      grid-template-columns: auto;
    }
    
    header{
      display: none;  
        
    }
    article{
        height: 80vh ;
    }
    
}

@media screen and (max-width:600px) {

    .admininfo h4{
        
        display: flex;
        justify-content: center;
        align-self: center;
        border-bottom: 1px solid black;
        
        padding-top: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    .darkmode--activated .admininfo h4{
        background-color: var(--bs-teal);
        display: flex;
        justify-content: center;
        align-self: center;
        border-bottom: 1px solid black;
        position: relative;
        padding-top: 1rem;
        color: var(--bs-light);
        font-size: 1.5rem;
        text-transform: uppercase;
       
    }
    aside{
        padding: 0;
        margin: auto;
        grid-area: aside;
        width: calc(100% - 1px);
        position: static;
      
        
    }
    aside nav{

        padding: 0;
        margin: auto;
        height: auto;
        width: calc(100% - 1px);
        
        
    }
    .logout div{
        width: auto;
       
    }
    .darkmode--activated .logout span{
        color: white !important;
    }
    
    ul div{
        width: 100aut;
        text-align: center;
    }
    aside nav ul{
        position: static;
        display: block;
        margin: auto;
        top:0;
        right: 0;
        width: calc(100% - 1px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
    }
    aside nav ul li{
        width: 100%;
        margin: auto;
        text-align: justify;
        height: auto;
    }
    main{
        width: calc(100% - 1px);
        grid-area: main;
        display: block;
        margin: auto;
       
    }
  
    body{
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        gap: 5rem;
        margin: auto;
        width: calc(100% - 1px);
        height: calc(100%-1px);
    }
    article{
        width: calc(100% - 1px);
        min-width: 90%;
        height: auto;
       
    }
    header{
        width: 0;
    }
}