*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    user-select: none;
}
html,body{
    min-width: 300px;
}
:root {
    --fds-black-alpha-05: rgba(0, 0, 0, 0.05);
    --fds-black-alpha-10: rgba(0, 0, 0, 0.1);
    --fds-black-alpha-15: rgba(0, 0, 0, 0.15);
    --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
    --fds-black-alpha-30: rgba(0, 0, 0, 0.3);
    --fds-black-alpha-40: rgba(0, 0, 0, 0.4);
    --fds-black-alpha-50: rgba(0, 0, 0, 0.5);
    --fds-black-alpha-60: rgba(0, 0, 0, 0.6);
    --fds-black-alpha-80: rgba(0, 0, 0, 0.8);
    --fds-blue-05: #ecf3ff;
    --fds-blue-30: #aac9ff;
    --fds-blue-40: #77a7ff;
    --fds-blue-60: #1877f2;
    --fds-blue-70: #2851a3;
    --fds-blue-80: #1d3c78;
    --fds-button-text: #444950;
    --fds-comment-background: #f2f3f5;
    --fds-gray-00: #f5f6f7;
    --fds-gray-05: #f2f3f5;
    --fds-gray-10: #ebedf0;
    --fds-gray-20: #dadde1;
    --fds-gray-25: #ccd0d5;
    --fds-gray-30: #bec3c9;
    --fds-gray-45: #8d949e;
    --fds-gray-70: #606770;
    --fds-gray-80: #444950;
    --fds-gray-90: #303338;
    --fds-gray-100: #1c1e21;
    --fds-green-55: #00a400;
    --fds-highlight-cell-background: #ecf3ff;
    --fds-primary-icon: #1c1e21;
    --fds-primary-text: #1c1e21;
    --fds-red-55: #fa383e;
    --fds-soft: cubic-bezier(0.08, 0.52, 0.52, 1);
    --fds-spectrum-aluminum-tint-70: #e4f0f6;
    --fds-spectrum-blue-gray-tint-70: #cfd1d5;
    --fds-spectrum-cherry: #f35369;
    --fds-spectrum-lime: #a3ce71;
    --fds-spectrum-seafoam-tint-70: #caeef9;
    --fds-spectrum-slate-dark-2: #89a1ac;
    --fds-spectrum-slate-tint-70: #eaeff2;
    --fds-spectrum-teal: #6bcebb;
    --fds-spectrum-teal-dark-1: #4dbba6;
    --fds-spectrum-teal-dark-2: #31a38d;
    --fds-spectrum-teal-tint-70: #d2f0ea;
    --fds-spectrum-teal-tint-90: #f0faf8;
    --fds-spectrum-tomato: #fb724b;
    --fds-spectrum-tomato-tint-30: #f38e7b;
    --fds-spectrum-tomato-tint-90: #fdefed;
    --always-white: #ffffff;
    --always-black: black;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #f33155;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #7ace4c;
    --bs-teal: #20c997;
    --bs-cyan: #4fc3f7;
    --bs-white: #fff;
    --bs-gray: #8898aa;
    --bs-gray-dark: #313131;
    --bs-primary: #707cd2;
    --bs-secondary: #8898aa;
    --bs-success: #7ace4c;
    --bs-info: #2cabe3;
    --bs-warning: #ffc36d;
    --bs-danger: #f33155;
    --bs-light: #f7fafc;
    --bs-dark: #313131;
    --bs-cyan: #4fc3f7;
    --bs-orange: #ffc36d;
    --bs-purple: #707cd2;
    --bs-inverse: #4c5667;
  }

 
html{
    background-color: black!important;
    max-width: 95%;
    scroll-behavior: smooth;
    margin: auto;
    margin-top: 2rem;
}

body{
 background-color: var(--fds-gray-05);

 height: 100%;    

 border-radius: 16px;
 border: 1px solid var(--fds-gray-20);
 padding: 2rem;
 width: 100%;
 
}
a{
    text-decoration: none;
    color: black;
}
header{
   
    margin-left: auto;
    margin-right: auto;
   
   
    padding: 2rem;
    text-align: center;
    user-select: none;
    border-radius: 16px;
    color: black;
    font-size: 1.1rem;
    border-radius: 6px;
    border: none;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
    gap: 4rem;
}
.box{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

aside nav{
    
    user-select: none;
    z-index: 1;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    justify-self: center;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.tabcontent {
    color: black;
    display: grid;
    visibility: hidden;
  
    width: 100%;
}
.tabcontent h3{
   
  padding: 1rem;
  text-align: center;
  font-size: 1em;
  font-weight: 550;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  width: fit-content;
  margin:auto;
}
aside nav h4{
    padding:0;
    margin: 0;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-family: "Mochiy Pop P One", sans-serif;
   
    text-align: center;
}
aside nav .fa-user{
    text-align: center;
}
article{
    margin-top: 1rem;
    margin-bottom: 1rem;
    user-select: none;
    border-radius: 16px;
    padding: 1rem;
    background: rgba(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    overflow: scroll;
    
    
}

.fa-user, .fa-sign-out-alt {
    display: block;
    padding-right: 5px;
    color: rgb(24, 206, 167);
    
  }
aside nav ul{
   
    display: grid;
    align-items: center;
  
    padding: 1rem;
    
}


aside nav ul li{
    list-style-type: none;
    padding: .5rem;
}
aside nav ul li:hover{
    transition: 0.3s;
    text-indent: 20px;
    background-color:var(--bs-teal);
    text-indent: 10px;
}


.label {
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    text-align: center;
  }
  .stat1,.stat2,.stat3,.stat4{
    background-color: white;
  }
  .stat1value,.stat2value,.stat3value,.stat4value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-weight: 500;
    font-size: 20px;
    color:var(--bs-success);
    
  }
  .allusers{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      padding: 1rem;
      font-weight: 500;
      background-color: none;
  }
  .fa-users, .fa-child,.fa-bullhorn,.fa-sign-in-alt{
      color: var(--bs-green);
      
      font-size: 25px;
      padding: 1rem;
      background-color: none;
  }
.fa-child,.stat2value{
    color:var(--bs-info);
    
}
.fa-bullhorn,.stat3value{
    color:var(--bs-pink);
}
.fa-sign-in-alt,.stat4value{
    color:var(--bs-teal);
}
.darkmode--activated article,.darkmode--activated, .darkmode--activated footer{
    box-shadow: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.155);
}


.darkmode--activated article{
    background-color: rgb(240, 240, 240);
    color:black;
}

.darkmode--activated nav span{
    color:rgb(8, 138, 110)!important;
}
.darkmode--activated nav ul li:hover{
    color:white;
  
}
.darkmode--activated .logout{
    color:var(--bs-red);
}
.darkmode--activated a:hover{
    color:rgb(201,34,95);
}
table tr:hover{
    background-color: var(--bs-teal);
}
table td{
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
table > * {
    
    border-collapse: collapse;
}
table thead td{
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid var(--bs-teal);
    text-align: center;
    padding: 2rem;
}
table button{
    text-align: center;
}
table .fa-ban,table .fa-user-edit, table .fa-edit{
    border:none;
    padding: 10px;
    border-radius: 15px;
    background-color: transparent;
}
table .fa-ban,table .fa-times{
    color:var(--bs-danger);
}

table .fa-user-edit,table .fa-check{
    color:var(--bs-blue);
}
table .Faliujsag .tartalom{
    text-align: left;
}
table {
    border-collapse: collapse;
}
header{
grid-area: header;
}
article{
grid-area: article;

}
aside{
grid-area: aside;
height:550px;
}
body{
    
    display:grid;
    grid-template-columns: 15% auto;
    grid-template-areas: 
    "header header"
    "aside article";
    gap:2%;
     
}

header div{
    justify-self: center;
    padding: 10px;
}
article{
    display:block;
    width:100%;
    height:550px;
    overflow:scroll;
    
}

.admininfo{
    text-align: center;
    padding-bottom: 10px;
}

.mod {
 
    background-color: var(--bs-teal);
    

}
.mod td input{
    margin-top: 1rem;
    border: none;
    padding: .3rem;
    text-align: center;
   
}
.mod input:focus{
    transition: .3s ease-in-out;
    background-color: var(--always-white);
}
.mod label{
    text-transform: uppercase;
    font-weight: 500;
    padding: .3rem;
}


.mod button{
    background-color: var(--fds-spectrum-teal-tint-90)!important;
    width: fit-content;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: .5rem;
    margin: .5rem;
    
}
.admin-mod-gombok button:hover{
    background: var(--bs-teal);
}

.search{
    width: 20rem;
    height: 3rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background: var(--fds-comment-background);
    font-weight: 450;
    text-indent: 1.1rem;
    border-radius: 15px;
}
.uj{
    width: fit-content;
}
.ujmezo fieldset{
    
    display: none;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--fds-comment-background)!important;
    width: 100%;
    margin-bottom: 2rem;
    margin: 0 auto;
    font-size: 1.2rem;
    
}
.ujmezo .label-input{
    display: grid;
    grid-template-columns: 15% auto;
}
.ujmezo label{
    padding: .3rem;
    margin: .3rem;
}
.ujmezo fieldset input,.ujmezo fieldset select{
    
    padding: .3rem;
    margin: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
   
}
.ujmezo .label-span{
    display: grid;
    grid-template-columns: 15% auto auto;
}
.ujmezo fieldset legend{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--fds-spectrum-teal-tint-90)!important;
    padding: .5rem;
    font-weight: 450;
}
.admin-new-buttons{
    width: fit-content;
    margin: auto;
}
.admin-new-buttons button,.uj{
    padding: .5rem;
    margin: .5rem;
    background-color: var(--fds-spectrum-teal-tint-90)!important;
    width: fit-content;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    
}
.uj{
    color:var(--fds-green-55);
    font-size: 1.3rem;
}
.admin-new-buttons .fa-check{
    color:var(--fds-green-55);
}
.admin-new-buttons .fa-times{
    color:var(--bs-red);
}

@media screen and (max-width:1360px) {
   body{
       
       grid-template-columns: 25% auto;
   }
   
}
@media screen and (max-width:1110px) {
    html{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.39);
    }
    header{
        
        grid-template-columns: auto auto;

    }
    aside{
      display: block;  
      width: 100%;
      text-align: center;
     
    }
    
    body{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "header"
        "aside"
        "article";
        box-shadow: none;
    }
    
}

@media screen  and (max-width:400px){
    header{
        
        grid-template-columns: auto ;
        grid-template-rows: auto;

    }
    
}